# Dependencies
node_modules/

# Next.js
.next/
out/

# Git
.git/

# Environment
.env*.local

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Cloudflare
.wrangler/
dist/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
